<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./build/css/patternfly.min.css">
    <link rel="stylesheet" href="./build/css/patternfly-additions.min.css">
    <link rel="stylesheet" href="./build/css/react-bootstrap-table.css">
    <link rel="stylesheet" href="main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Streaming-online-analytics-demo</title>
  </head>
  <body class="cards-pf">
    <div id="root"></div>
    <script src="./build/main.js"></script>
    <script src="./build/app.js"></script>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
  </body>
</html>
